<div *ngIf="customer">
  <h2>Informations du client</h2>
  <p>Civilité : {{ customer.civility }}</p>
  <p>Prénom : {{ customer.firstName }}</p>
  <p>Nom : {{ customer.lastName }}</p>
  <p>Email : {{ customer.email }}</p>
  <p>Téléphone : {{ customer.phone }}</p>

  <h3>Informations d'identification</h3>
  <p>ID d'identification : {{ customer.credential.id }}</p>
  <p>Mot de passe : {{ customer.credential.password }}</p>
  <p>ID d'historique d'identification : {{ customer.credential.histoCredential.id }}</p>
  <p>Nom d'historique d'identification : {{ customer.credential.histoCredential.name }}</p>

  <h3>Rôle du client</h3>
  <p>ID du rôle : {{ customer.role.id }}</p>
  <p>Nom du rôle : {{ customer.role.name }}</p>
</div>
