<button class="mt-2 ml-5 text-[#5B5579] hover:text-blue-300" (click)="goBack()"><--  Back</button>

<div class=" md:flex lg:justify-center mb-12" >

  <div *ngIf="software" class="lg:mx-10 ">
    <div class="m-8 text-center">
      <img src="{{software.logo}}" class="w-32">
      <h1 >{{software.name}}</h1>
    </div>
    <hr class="border-[#9AC31C]">
    <div class="mx-10 my-5">
      <div class="my-5">
        <h2 class="my-6 text-[#5B5579] font-bold">Description :</h2>
        <p>{{ software.description }}</p>
      </div>
      <div class="md:flex md:justify-between">
        <div class="flex md:mr-4">
          <div class="mr-14">
            <p class="my-7 text-[#5B5579] font-bold">Label</p>
            <p class="my-7 text-[#5B5579] font-bold">Date de sortie</p>
            <p class="my-7 text-[#5B5579] font-bold">Langues</p>
            <p class="my-7 text-[#5B5579] font-bold">Prix</p>
          </div>
          <div class="mr-1">
            <p class="my-7">{{ software.label }}</p>
            <p class="my-7">{{ software.releaseDate }}</p>
            <p class="my-7">{{ software.langage }}</p>
            <p class="my-7">{{ software.price }}</p>
          </div>
        </div>
        <div>
          <img src="https://www.infoburomag.com/uploads/media/image/0001/45/1c291d22a6368d02e489d6352d108a45c6eb3776.jpeg"
               class="md:hidden sm:block lg:block" alt="" srcset="">
        </div>
      </div>
    </div>
    <hr class="border-[#9AC31C]">
    <div class="mx-10">
      <h2 class="my-6 text-[#5B5579] font-bold">About Us</h2>
      <p>{{ software.description }}</p>
    </div>
  </div>


  <div class="mx-5" *ngIf="software">

    <div class="flex justify-around py-36 text-blue-900 ">
      <div class="w-80 px-7 pt-5 rounded-xl shadow-md">
        <div>
          <h1 class="title text-center">Vos options</h1>
        </div>
        <div class="py-2">
          <form class="text-sm" [formGroup]="softwareForm" (ngSubmit)="onSubmit(software)" >
            <div>
              <label id="number" class="font-bold mb-2">Nombre de licence :</label>
              <input type="number" formControlName="number" class="form_control"/>
            </div>
            <div>
              <label id="duration" class="font-bold mb-2">Période :</label>
              <input type="number" formControlName="duration" class="form_control" />
            </div>
            <div class="items-center">
              <button class="w-[200px] h-10 mt-5 font-bold bg-[#9AC31C] text-white rounded-md hover:bg-[#a6d31f]" type="submit">Ajouter au panier : </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>
