<div class="flex select-none items-center justify-between px-2 py-4 text-gray-400 sm:px-6">
  <div class="flex items-center">
    <img
      class="mr-2 h-12 w-15"
      src="assets/Images/logo-lyreco.png"
      alt="avatar">
  </div>
  <div class="flex items-center mr-4">
    <a class="px-3 py-1 text-[#2C2E87] hover:text-[#6D6EBD]" routerLinkActive="active" *ngIf="!isLoggedIn()" [routerLink]="['/register']">Register</a>
    <a class="px-3 py-1 text-[#2C2E87] hover:text-[#6D6EBD]" routerLinkActive="active" *ngIf="!isLoggedIn()" [routerLink]="['/login']">Login</a>
    <a class="px-3 py-1 text-[#2C2E87] hover:text-[#6D6EBD]" *ngIf="isLoggedIn()" [routerLink]="['/cart']">Cart</a>
    <a class="px-3 py-1 text-[#2C2E87] hover:text-[#6D6EBD]" *ngIf="isLoggedIn()" (click)="logout()" >Déconnexion</a>
  </div>
</div>
<app-navbar></app-navbar>
