<div class="flex justify-around flex-wrap items-center justify-center mt-10">
<!--
  <div class="flex justify-around text-blue-900 ">
    <div class="w-96 px-7 pt-5 rounded-xl shadow-md">
      <div class="">
        <h3 class="text-[#2D2E87] font-bold">Element list a modify : </h3>
        <ul class="mx-5">
          <li><a [routerLink]="['/admin-software']">Softwares</a></li>

        </ul>
      </div>
      <div class="px-4 py-2">
      </div>
    </div>
  </div>
</div> -->

<app-crud-software></app-crud-software>

