<div class="my-10 mx-auto max-w-3xl">
  <div *ngIf="cartItems.length > 0" class="my-10 overflow-x-auto">
    <h1 class="my-7 font-bold text-xl">Voici les produits de votre panier :</h1>
    <table class="min-w-full">
      <thead>
      <tr>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">Nom du software</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">Durée licence</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">Nombre de licence</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">Prix unitaire</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">Prix total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cartItems" class="hover:bg-gray-100">
        <td class="px-4 py-3">{{ item.name }}</td>
        <td class="px-4 py-3">{{ item.duration }} ans</td>
        <td class="px-4 py-3">{{ item.number }}</td>
        <td class="px-4 py-3">{{ item.price }} €</td>
        <td class="px-4 py-3">{{ item.totalAmount }} €</td>
      </tr>
      </tbody>
    </table>
    <div class="flex justify-end mt-5">
      <button class="w-40 h-10 font-bold bg-green-500 text-white rounded-md hover:bg-green-600" (click)="buyCart()">Valider le panier</button>
    </div>
  </div>

  <div *ngIf="cartItems.length === 0" class="text-center text-[#2D2D85] my-20 font-bold">
    <p>Votre panier est vide.</p>
    <a class="hover:text-[#797AAA]" [routerLink]="['/softwares']">Liste des logiciels -></a>
  </div>
</div>
