<p>create-software works!</p>
<div class="flex mt-20 justify-around p-6 text-blue-900">

  <div class="w-96 mb-8 p-7 rounded-xl border-gray-100 shadow-md bg-white border-1  ">
    <div class="p-4">
      <form class="text-sm" [formGroup]="softwareForm" (ngSubmit)="onSubmit()">

        <h3 class="font-bold mb-3">Create software :</h3>

        <div>
          <label id="name">Name software : *</label>
          <input type="text" formControlName="name" class="form-control"/>
        </div>

        <div>
          <label id="description">Description software : *</label>
          <input type="text" formControlName="description" class="form-control"/>
        </div>
        <div>
          <label id="label">Label software : *</label>
          <input type="text" formControlName="label" class="form-control"/>
        </div>
        <div>
          <label id="releaseDate">Release date software : *</label>
          <input type="text" formControlName="releaseDate" class="form-control"/>
        </div>
        <div>
          <label id="price">Price software : *</label>
          <input type="text" formControlName="price" class="form-control"/>
        </div>
        <div>
          <label id="langage">Langage software : *</label>
          <input type="text" formControlName="langage" class="form-control"/>
        </div>


        <div class="items-center">

          <button class="w-[200px] h-10 mt-5 font-bold bg-[#9AC31C] text-white rounded-md hover:bg-[#a6d31f]"
                  type="submit">
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Créer un compte
          </button>

        </div>

        <a routerLink="/login" class="btn btn-link">Cancel</a>

      </form>


    </div>


  </div>

</div>

