<div>
  <div class="flex select-none items-center justify-between bg-gray-800 px-2 py-4 text-gray-400 sm:px-6">

    <div class="hidden sm:space-x-6 sm:flex sm:justify-between">
      <a class="rounded-md bg-gray-900 px-3 py-1 font-medium text-white" href="#">Dashboard</a>
      <a class="rounded-md px-3 py-1 font-medium hover:bg-gray-700 hover:text-white" href="#">Team</a>
      <a class="rounded-md px-3 py-1 font-medium hover:bg-gray-700 hover:text-white" href="#">Projects</a>
      <a class="rounded-md px-3 py-1 font-medium hover:bg-gray-700 hover:text-white" href="#">Calendar</a>
    </div>



    <div class="flex items-center">


      <img
        class="mr-2 h-8 w-8 rounded-full"
        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt="avatar">
    </div>

  </div>

  <div *ngIf="isMenuOpen" class="flex flex-col bg-gray-800 p-2 text-gray-300 sm:hidden">
    <a class="mb-1 rounded-md bg-gray-900 px-3 py-2 font-medium text-white" href="#">Dashboard</a>
    <a class="mb-1 rounded-md px-3 py-2 font-medium hover:bg-gray-700 hover:text-white" href="#">Team</a>
    <a class="mb-1 rounded-md px-3 py-2 font-medium hover:bg-gray-700 hover:text-white" href="#">Projects</a>
    <a class="mb-1 rounded-md px-3 py-2 font-medium hover:bg-gray-700 hover:text-white" href="#">Calendar</a>
  </div>
</div>

