<nav>
  <div
    class="flex select-none items-center justify-between flex-row-reverse bg-[#2D2E87] px-2 py-4 text-gray-400 sm:px-6">


    <div class="hidden sm:space-x-6 sm:flex sm:justify-between">
      <a class="rounded-md px-3 py-1 font-medium hover:bg-[#797AAA] hover:text-white" [routerLink]="['/home']">Home</a>
      <a class="rounded-md px-3 py-1 font-medium hover:bg-[#797AAA] hover:text-white" [routerLink]="['/Detailcustomer']">Detailcustomer</a>

      <a class="rounded-md px-3 py-1 font-medium hover:bg-[#797AAA] hover:text-white" [routerLink]="['/softwares']">Software list</a>
    </div>

    <button *ngIf="!isMenuOpen"
            (click)="toggleMenu()"
            class="rounded p-2 hover:cursor-pointer hover:bg-[#797AAA] hover:text-white sm:hidden">| | |
    </button>

    <button *ngIf="isMenuOpen"
            (click)="toggleMenu()"
            class="rounded p-2 hover:cursor-pointer hover:bg-[#797AAA] hover:text-white sm:hidden">| | |
    </button>


  </div>

  <div *ngIf="isMenuOpen" class="flex flex-col bg-[#2D2E87] p-2 text-gray-300 sm:hidden">
    <a class="rounded-md px-3 py-1 font-medium hover:bg-[#797AAA] hover:text-white" [routerLink]="['/home']">Home</a>
    <a class="rounded-md px-3 py-1 font-medium hover:bg-[#797AAA] hover:text-white" [routerLink]="['/softwares']">Software</a>
  </div>
</nav>

