<div *ngIf="showMessageLogged" class="bg-blue-200 p-2">
  <p class="text-white text-center">{{ welcomeMessage }}</p>
</div>

<div class="mx-10 my-20">

  <div class="border-amber-700 text-center" *ngIf="currentCustomer">
    <a class="leading-10 tracking-widest" >Hello {{currentCustomer.firstName}} {{currentCustomer.lastName}}, </a>
    <button (click)="showCustomer(currentCustomer.id)" class="text-[#2D2E87] font-bold hover:text-blue-300">See your profile</button>
  </div>

  <h1 class="text-center leading-10 tracking-widest">Welcome to DigitalizePro,
    We offer you a selection of our best digital solutions.
    If you need advice, you can contact a digital solution specialist
  </h1>

  <div class="flex justify-around flex-wrap items-center justify-center mt-20">

    <div class="flex justify-around text-blue-900 ">
      <div class="w-96 px-7 pt-5 rounded-xl shadow-md">
        <div class="">
          <h3 class="text-[#2D2E87] font-bold">I need ...</h3>
          <ul class="mx-5">
            <li><a href="">Digital dashboard</a></li>
            <li><a href="">Project management solution</a></li>
            <li><a href="">Flexwork management</a></li>
            <li><a href="">Electronic signature</a></li>
            <li><a href="">Social network</a></li>
            <li><a href="">Collaboration solution</a></li>
          </ul>
        </div>
        <div class="px-4 py-2">
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center md:pr-10 sm:mt-8">
      <div class="mb-3 pr-10">
        <p class=" text-[#9AC31C] text-[60px]"><</p>
      </div>
      <div>
        <h3 class="text-[#2D2E87] font-bold">Select your need</h3>
      </div>
    </div>
  </div>

</div>



<div class="mx-10 my-20 lg:mx-32">
  <h3 class="text-[#2D2E87] font-bold mb-20">Best Suggestions :</h3>
  <app-softwares></app-softwares>
</div>
