





<div class="flex justify-around bg-gray-100 p-6 text-blue-900">

  <div class="w-96 mb-8 p-7 rounded-xl border-gray-100 shadow-md bg-white border-1  ">

    <div class="text-center">

      <h1 class="title">Créer un compte Lyreco, c'est simple et rapide !</h1>
      <p class="text-xl mb-4">Avec votre compte Lyreco, Profiter de tarifs et offres exclusifs pour les entreprise.</p>

    </div>


    <div class="p-4">

      <form class="text-sm" action="">

        <h3 class="font-bold mb-3">Mes informations personnelles :</h3>

        <div class="!flex-row">

          <label for="">Civilité :</label>

          <input class="ml-7" type="checkbox" name="" id="">
          <label class="!m-1" for="">M.</label>
          <input class="ml-5" type="checkbox" name="" id="">
          <label class="!m-1" for="">Mme</label>

        </div>

        <div>

          <label for="">Prénom : *</label>
          <input type="text">

        </div>

        <div>

          <label for="">Nom : *</label>
          <input type="text">

        </div>

        <div>

          <label for="">Email : *</label>
          <input type="text">

        </div>

        <div>

          <label for="">Mot de passe : *</label>
          <input type="text">

        </div>

        <div>

          <label for="">Téléphone : *</label>
          <input type="text">

        </div>

        <h3 class="font-bold mb-3">Mon entreprise :</h3>
        <p class="text-xs font-bold">Entrez le nom ou le N° TVA ou SIREN ou SIRET : de votre organisation afin de vérifier votre entreprise. *</p>

        <div>

          <div>

            <label for="">Nom de l'entreprise</label>
            <input type="text">

          </div>

          <div>

            <label for="">N° TVA ou SIREN ou SIRET :</label>
            <input type="text">

          </div>

        </div>

        <p class="text-center text-gray-400">*Champs obligatoire</p>

        <div class="!flex-row-reverse">

          <label class="text-xs" for="">J'accepte les Conditions Générales et les Règles de Confidentialité.*</label>
          <input class="mr-2" type="checkbox" name="" id="">

        </div>

        <div class="items-center">

          <button class="w-[200px] h-10 mt-5 font-bold bg-[#9AC31C] text-white rounded-md hover:bg-[#a6d31f]" type="submit">Créer un compte</button>

        </div>


      </form>

    </div>


  </div>

</div>

